<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoUniLink.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD60B8871E31B90B008D3B96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD60B89D1E31B90C008D3B96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD60B8A81E31B90C008D3B96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
